@import '/styles/globals';

#kontakt_form {
    background: $white;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    padding: $large;

    .header_kontakt_form {
        grid-area: 1 / 2 / 2 / 7;
        margin-bottom: $small;
        text-align: left;
        margin-bottom: 0;
    }

    .kontakt_form {
        grid-area: 2 / 2 / 3 / 8;
        gap: $small;
        display: flex;
        flex-direction: column;

        .general_info {
            gap: $small;
            display: flex;
            flex-direction: column;

            input,
            textarea {
                border-radius: $radius_medium;
                border: 1px solid $secondary;
                font-family: $text_font;
                font-size: $links;
                padding: $small;
                box-shadow: $shadow_div_hover;

                &::placeholder {
                    color: $header;
                }
            }
        }

        .submit {
            display: flex;
            justify-content: flex-end;
        }
    }

    .image_kontakt_form {
        grid-area: 1 / 8 / 8 / 12;
        border-radius: 16px;
        background-image: url("/images/6.jpeg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 50%;
        box-shadow: $shadow_div;
    }

    @media screen and (min-width: 768) and (max-width: 1023px) {

    }

    @media screen and (max-width: 767px) {
        .header_kontakt_form {
            grid-area: 1 / 1 / 2 / 7;
        }

        .kontakt_form {
            grid-area: 2 / 1 / 3 / 7;
        }

        .image_kontakt_form {
            grid-area: 3 / 1 / 4 / 7;
        }
    }
}