@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    section.kontakt_map {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: $large;
        row-gap: $medium;
        text-align: left;
        align-content: flex-start;

        .header_kontakt_map {
            grid-area: 1 / 2 / 2 / 7;
        }

        .background {
            grid-area: 2 / 3 / 3 / 8;
            padding: $small $medium;
            border-radius: $radius_large;
        }

        .mapa {
            grid-area: 1 / 8 / 4 / 13;
            padding: $small 0;
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}