/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/dzq8zmk.css");

/* ------------------------------ Variables ------------------------------ */
$dark: #180A04;
$grey: #5E5E5E;
$orange: #EDB39B;
$orange-faded: rgba(237, 179, 155, 0.8);
$off-white: #FEFAF8;
$white: #FFFFFF;
$white-faded: rgba(255, 255, 255, 0.8);

$box-shadow: rgba(0, 0, 0, 0.2) 0 3px 12px;
$box-shadow-hover: rgba(0, 0, 0, 0.25) 0 6px 24px;

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  background: $off-white;
  color: $grey;
  font-family: basel-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  overflow-x: hidden;
}

// ------------------------------ Fonts ------------------------------

h1,
h2,
h3,
h4 {
  font-family: dashiell-fine, serif;
  font-weight: 400;
  font-style: normal;
  color: $dark;
}

p {
  color: $grey;
}

button {
  font-family: basel-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: $grey;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $orange;
  }

  &:focus {
    color: $dark;
  }
}

body,
p,
button {
  font-size: 20px;
}

// ------------------------------ Buttons ------------------------------

button {
  border: solid 1px transparent;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 10px 0;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: solid 1px $orange-faded;
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
}

.orange {
  background: $orange;
  color: $white;

  &:hover {
    background: $orange-faded;
  }
}

.white {
  background: $white;

  &:hover {
    background: $white-faded;
  }
}

// ------------------------------ Sections ------------------------------

section {
  width: 100%;
  margin-bottom: 80px;

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

// ------------------------------ Desktop ------------------------------

@media screen and (min-width: 1024px) {

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.0;
    margin: 0;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

}

// ------------------------------ Tablet ------------------------------

@media screen and (min-width: 768) and (max-width: 1023px) {

  body,
  p,
  button {
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
  }

  button {
    padding: 8px 24px;
  }
}

// ------------------------------ Smartphone ------------------------------

@media screen and (max-width: 767px) {

  body,
  p,
  button {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  button {
    padding: 6px 18px;
  }
}

// ------------------------------ Icons ------------------------------

.icon {
  filter: drop-shadow($box-shadow);
  opacity: 1;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
    filter: drop-shadow($box-shadow-hover);
    cursor: pointer;
  }
}