/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/ndg1myv.css");

/* ------------------------------ Variables ------------------------------ */
$primary: #B74A52;
$primary_50: rgba(183, 74, 82, 0.5);
$primary_60: rgba(183, 74, 82, 0.6);

$secondary: #DBA4A7;
$secondary_light: #EFD8D9;
$grey_light: #CAC8DA;

$gradient: linear-gradient(90deg, $grey_light 0%, $secondary_light 100%);

$header: #232232;
$text: rgba(35, 34, 50, 0.6);
$text_hover: rgba(35, 34, 50, 0.8);
$white: #FFFFFF;

$line_50: rgba(35, 34, 50, 0.5);
$line_60: rgba(35, 34, 50, 0.6);

$button_shadow: rgba(11, 16, 19, 0.24) 0 2px 6px;
$button_shadow_hover: rgba(11, 16, 19, 0.36) 0 4px 12px;

$header_font: maiola, serif;
$text_font: maiola, serif;

// ---------- Font sizes ----------
$links: clamp(0.78rem, calc(0.69rem + 0.45vw), 1.04rem);
$paragraph: clamp(1.13rem, calc(0.95rem + 0.87vw), 1.63rem);
$header_4: clamp(1.35rem, calc(1.11rem + 1.18vw), 2.03rem);
$header_3: clamp(1.62rem, calc(1.30rem + 1.60vw), 2.54rem);
$header_2: clamp(1.94rem, calc(1.52rem + 2.14vw), 3.17rem);
$header_1: clamp(2.33rem, calc(1.76rem + 2.84vw), 3.97rem);

// ---------- Margins and paddings ----------
$none: 0;
$xxtra_small: clamp(0.19rem, calc(-0.01rem + 0.98vw), 0.75rem);
$xtra_small: clamp(0.38rem, calc(-0.02rem + 1.96vw), 1.50rem);
$small: clamp(0.75rem, calc(-0.03rem + 3.91vw), 3.00rem);
$medium: clamp(1.13rem, calc(-0.05rem + 5.87vw), 4.50rem);
$large: clamp(1.50rem, calc(-0.07rem + 7.83vw), 6.00rem);
$xtra_large: clamp(2.25rem, calc(-0.10rem + 11.74vw), 9.00rem);

* {
    box-sizing: border-box;
}

html {
    margin: $none;
    padding: $none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    background: $white;
    color: $text;
    font-family: $text_font;
    font-size: $paragraph;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    overflow-x: hidden;
}

// ------------------------------ Fonts ------------------------------

h1,
h2,
h3,
h4 {
    color: $header;
    font-family: $header_font;
    font-weight: 400;
    font-style: italic;
    line-height: 1;
    margin: $none;
    padding: $none;
}

h1 {
    text-transform: uppercase;
}

h1 {
    font-size: $header_1;
}

h2 {
    font-size: $header_2;
}

h3 {
    font-size: $header_3;
}

h4 {
    font-size: $header_4;
}

p {
    font-family: $text_font;
    font-weight: 400;
    font-style: normal;
    color: $text;
    line-height: 1.2;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: $links;
    font-family: $text_font;
    color: $text;
    font-style: normal;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $text_hover;
    }

    &:focus {
        color: $header;
        opacity: 1;
    }
}

// ------------------------------ Buttons ------------------------------

button {
    font-family: $text_font;
    color: $white;
    background: $primary_50;
    font-size: $links;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    border: 1px solid $line_50;
    border-radius: 50px;
    box-shadow: $button_shadow;
    padding: $xxtra_small $xtra_small;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $primary_60;
        color: $header;
        border: 1px solid $line_60;
        box-shadow: $button_shadow_hover;
        cursor: pointer;
    }
}

// ------------------------------ Blur ------------------------------

.blur {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

// ------------------------------ Icons ------------------------------

.icon {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    .grid_container {
        margin: $none $xtra_large $xtra_large;
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {
    .grid_container {
        margin: $none $medium $medium;
    }
}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {
    .grid_container {
        margin: $none $xtra_small $xtra_small;
    }
}