/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/dzq8zmk.css");

/* ------------------------------ Variables ------------------------------ */
$header: #1C0001;
$text: rgba(28, 0, 1, 0.85);
$shadow: rgba(28, 0, 1, 0.12);
$shadow-hover: rgba(28, 0, 1, 0.24);
$primary: #FF878B;
$secondary: #F2247F;
$off-white: #FFF6F7;
$white: #FFFFFF;

$gradient: linear-gradient(145deg, $primary 0%, $secondary 100%);
$gradient-light: linear-gradient(145deg, $white 0%, $off-white 100%);

$box-shadow: $shadow 0 12px 32px;
$box-shadow-hover: $shadow-hover 0 24px 64px;
$button-shadow: rgba(13, 11, 24, 0.1) 0 2px 6px;
$button-shadow-hover: rgba(13, 11, 24, 0.2) 0 6px 12px;

$header_font: meno-display, serif;
$text_font: meno-display, serif;

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    background: $white;
    color: $text;
    font-family: $text_font;
    font-weight: 300;
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    margin: auto;
    overflow-x: hidden;
}

// ------------------------------ Fonts ------------------------------

h1,
h2,
h3,
h4 {
    color: $header;
    font-family: $header_font;
    font-weight: 400;
    font-style: italic;
    line-height: 1;
    margin: 0;
    padding-bottom: 12px;
}

p {
    font-family: $text_font;
    font-weight: 400;
    font-style: normal;
    color: $text;
    line-height: 1.2;
}

button {
    font-family: $text_font;
    font-weight: 200;
    font-style: normal;
    text-transform: capitalize;
    border: none;
}

a {
    text-decoration: none;
    font-family: $text_font;
    color: $text;
    font-style: normal;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $secondary;
    }

    &:focus {
        color: $primary;
    }
}

// ------------------------------ Buttons ------------------------------

button {
    border-radius: 6px;
    padding: 8px 32px;
    margin: 8px 0;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.light {
    background: $gradient-light;
    color: $primary;
    box-shadow: $button-shadow;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: $button-shadow-hover;
    }
}

.dark {
    background: $gradient;
    color: $white;
    box-shadow: $button-shadow;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: $button-shadow-hover;
    }
}

// ------------------------------ Blur ------------------------------

.blur {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

// ------------------------------ Icons ------------------------------

.icon {
    filter: drop-shadow($button-shadow);
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
        filter: drop-shadow($button-shadow-hover);
        cursor: pointer;
    }
}

// ------------------------------ Grid ------------------------------

.grid_container {
    display: grid;
    border-radius: 16px;

    .header {
        text-align: center;
    }

    .grid,
    .grid_hero {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .grid {
        background: $white;
        box-shadow: $box-shadow;
    }

    .light {
        background: $gradient-light;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: $white;
        }
    }
    .dark {
        background: $gradient;
        transition: all 0.3s ease-in-out;
    }

    .hover {
        box-shadow: $box-shadow;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: $box-shadow-hover;
        }
    }

    .grid_4,
    .grid_3.upper,
    .grid_3.lower {
        display: flex;
        justify-content: space-between;

        div {
            width: 100%;
        }
    }
}

// ------------------------------ Desktop ------------------------------

@media screen and (min-width: 1024px) {
    .grid_container {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        margin: 144px 128px 64px;

        .header {
            grid-area: 1 / 1 / 1 / 13;
        }

        .button {
            grid-area: 4 / 1 / 5 / 13;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .grid {
            padding: 48px 64px;
        }

        .grid_12 {
            grid-area: 2 / 1 / 3 / 13;
        }

        .grid_10 {
            grid-area: 2 / 2 / 3 / 12;
        }

        .grid_hero {
            margin: 32px auto;
            padding: 16px;
        }

        .grid_8_hero {
            grid-area: 1 / 3 / 1 / 11;
        }

        .grid_8 {
            grid-area: 2 / 3 / 3 / 11;
        }

        .grid_4 {
            grid-area: 2 / 4 / 3 / 10;
        }

        .grid_3.upper {
            grid-area: 2 / 1 / 3 / 13;
        }

        .grid_3.lower {
            grid-area: 3 / 1 / 4 / 13;
        }

        .grid_4,
        .grid_3.upper,
        .grid_3.lower {
            gap: 32px;
        }
    }

    body,
    p,
    button {
        font-size: 20px;
    }

    h1 {
        font-size: 61.04px;
    }

    h2 {
        font-size: 48.83px;
    }

    h3 {
        font-size: 39.06px;
    }

    h4 {
        font-size: 31.25px;
    }
}

// ------------------------------ Tablet ------------------------------

@media screen and (max-width: 1200px) {
    .grid_container {
        grid-template-columns: repeat(9, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        margin: 96px 48px 48px;

        .header {
            grid-area: 1 / 1 / 1 / 10;
        }

        .grid {
            padding: 24px;
        }

        .grid_12 {
            grid-area: 1 / 1 / 2 / 10;
        }

        .grid_10 {
            grid-area: 2 / 2 / 3 / 9;
        }

        .grid_hero {
            margin: 32px auto;
            padding: 16px;
        }

        .grid_8_hero {
            grid-area: 1 / 2 / 1 / 9;
        }

        .grid_8 {
            grid-area: 2 / 2 / 3 / 9;
        }

        .grid_4 {
            grid-area: 1 / 3 / 2 / 8;
        }

        .grid_3.upper {
            grid-area: 2 / 1 / 3 / 10;
        }

        .grid_3.lower {
            grid-area: 3 / 1 / 4 / 10;
        }

        .grid_4,
        .grid_3.upper,
        .grid_3.lower {
            gap: 24px;
        }
    }

    body,
    p,
    button {
        font-size: 18px;
    }

    h1 {
        font-size: 54.93px;
    }

    h2 {
        font-size: 43.95px;
    }

    h3 {
        font-size: 35.16px;
    }

    h4 {
        font-size: 28.13px;
    }
}

// ------------------------------ Smartphone ------------------------------

@media screen and (max-width: 767px) {
    .grid_container {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        margin: 144px 16px 24px;

        .header {
            grid-area: 1 / 1 / 1 / 6;
        }

        .grid {
            padding: 12px;
        }


        .grid_4,
        .grid_3.upper,
        .grid_3.lower {
            gap: 16px;
        }
    }

    body,
    p,
    button {
        font-size: 16px;
    }

    h1 {
        font-size: 48.83px;
    }

    h2 {
        font-size: 39.06px;
    }

    h3 {
        font-size: 31.25px;
    }

    h4 {
        font-size: 25.00px;
    }
}