@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    section.kontakt_map {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: $space_160;
        row-gap: $space_40;
        text-align: left;
        align-content: flex-start;

        .header_kontakt_map {
            grid-area: 1 / 2 / 2 / 7;
        }

        .background {
            grid-area: 2 / 3 / 3 / 8;
            padding: $space_20 $space_60;
            border-radius: $radius_large;
            box-shadow: $shadow_div_hover;
        }

        .mapa {
            grid-area: 1 / 6 / 4 / 12;
            padding: $space_20 $none;
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}