@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    section.kontakt_form {
        background-image: url("../public/images/background_faded.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        text-align: center;
        padding: $xtra_large;
        padding-bottom: 0;

        .header_kontakt_form {
            grid-area: 1 / 2 / 2 / 7;
            margin-bottom: $small;
            text-align: left;
        }

        .kontakt_form {
            grid-area: 2 / 2 / 3 / 8;
            gap: $xxtra_small;
            display: flex;
            flex-direction: column;

            .general_info {
                gap: $xxtra_small;
                display: flex;
                flex-direction: column;

                input,
                textarea {
                    border-radius: $radius_medium;
                    border: none;
                    font-family: $text_font;
                    font-size: $links;
                    padding: $xxtra_small $xtra_small;

                    &::placeholder {
                        color: $header;
                    }
                }
            }

            .submit {
                display: flex;
                justify-content: flex-end;
            }
        }

        .image_kontakt_form {
            grid-area: 1 / 8 / 10 / 12;
            border-radius: 16px 16px 0 0;
            background-image: url("../public/images/10.jpeg");
            background-position: top;
            background-size:cover;
            background-repeat: no-repeat;
            min-width: 50%;
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}