@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .header {
        display: flex;
        justify-content: space-between;
        gap: $none $xxtra_small;
        padding: $none $medium;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        height: 80px;
    }

    .logo_menu {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;

        .links {
            display: flex;
            flex-direction: row;
            gap: $small;
        }
    }

    .menu_button {
        display: flex;
        align-items: center;
    }
}


// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;

        .container {

            .upper_header {
                padding: $none $xtra_small;
                background: $gradient;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .lower_header {
                padding: $none $medium;
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(15px);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .upper_header,
            .lower_header {
                height: 40px;
                border-bottom: 1px solid $line_50;

                .phone {
                    gap: $xxtra_small;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                .socials,
                .links {
                    display: none;
                }
            }

            .button_large_screeen {
                display: none;
            }
        }
    }
}