@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .header {
        display: flex;
        justify-content: space-between;
        gap: $none $xxtra_small;
        padding: $none $medium;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: $shadow_section;
        backdrop-filter: blur(15px);
        height: 90px;
    }

    .logo_menu {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;

        .links {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }

    .menu_button {
        display: flex;
        align-items: center;
    }

    .menu,
    .menu_button {
        visibility: visible;
    }

    .hamburger {
        visibility: hidden;
    }
}


// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: $space_10;
        padding: $space_10;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        height: 60px;
    }

    .links {
        display: none;
    }

    .hamburger {
        visibility: visible;
    }
}