@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    .grid_container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: $none $xxtra_small;

        .header_o_mnie {
            grid-area: 1 / 1 / 2 / 6;
            margin-top: calc(80px + $xtra_large);
            margin-bottom: $medium;
        }

        .horizontal_line_o_mnie_1 {
            grid-area: 2 / 2 / 3 / 8;
            border-bottom: 1px solid $header;
            margin: $small $none;
        }

        .o_mnie_1 {
            grid-area: 3 / 3 / 4 / 7;
            text-align: right;
            margin-bottom: calc(3 * $large);
        }

        .image_o_mnie_1 {
            grid-area: 2 / 8 / 4 / 13;
            background-image: url("../public/17.jpeg");
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $line_60;
        }

        .image_o_mnie_2 {
            grid-area: 4 / 2 / 6 / 6;
            background-image: url("../public/13.jpeg");
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $line_60;
            margin-top: calc(2 * $large);
        }

        .o_mnie_2 {
            grid-area: 4 / 7 / 5 / 11;
            margin: calc(2 * $large) $none;
        }

        .horizontal_line_o_mnie_2 {
            grid-area: 5 / 6 / 6 / 11;
            border-bottom: 1px solid $header;
            margin: $small $none;
        }

        .o_mnie_3 {
            grid-area: 6 / 2 / 8 / 7;
            text-align: right;
            margin-top: calc(2 * $large);
        }

        .o_mnie_background {
            grid-area: 7 / 8 / 8 / 12;
            background: $gradient;
            border: 1px solid $line_60;
            padding: $medium $xtra_large;
            gap: $small;
            margin-top: calc(3 * $large);
        }

        .o_mnie_4 {
            grid-area: 8 / 3 / 9 / 11;
            margin-top: $large;
        }
    }
}


// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}