@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    section.pomagam {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        text-align: center;
        padding: $xtra_large;

        .header_pomagam {
            grid-area: 1 / 4 / 2 / 10;
            margin-bottom: $small;
        }

        .pomagam_1 {
            grid-area: 2 / 3 / 3 / 7;
        }

        .pomagam_2 {
            grid-area: 2 / 7 / 3 / 11;
        }

        .pomagam_3 {
            grid-area: 3 / 3 / 4 / 7;
        }

        .pomagam_4 {
            grid-area: 3 / 7 / 4 / 11;
        }

        .pomagam_5 {
            grid-area: 4 / 3 / 5 / 7;
        }

        .pomagam_6 {
            grid-area: 4 / 7 / 5 / 11;
        }

        .pomagam_div {
            background: $white;
            box-shadow: $shadow_div;
            border-radius: $radius_medium;
            border: 1px solid transparent;
            padding: $medium $small $small;
            transition: all 0.3s ease-in-out;

            &:hover {
                box-shadow: $shadow_div_hover;
                border: 1px solid $border_25;
            }
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {

}