@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    .grid_container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;

        .header {
            grid-area: 1 / 1 / 2 / 6;
            margin-top: 80px;
        }

        .pomagam_background {
            grid-area: 2 / 1 / 4 / 13;
            background: $gradient;
            border: 1px solid $header;
            z-index: -1;
        }

        .pomagam_upper {
            grid-area: 2 / 1 / 3 / 13;
            display: flex;
            justify-content: space-between;
            padding: 48px;

            .pomagam {
                width: 30%;
            }
        }

        .pomagam_lower {
            grid-area: 3 / 1 / 4 / 13;
            display: flex;
            justify-content: space-between;
            padding: 0 48px 48px 48px;

            .pomagam {
                width: 30%;
            }
        }

        .pomagam_button {
            grid-area: 4 / 6 / 5 / 8;
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}